<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="greetings"
		label="COM_JOBTEMPLATE_CONFIG_GREETING_SETTINGS_LABEL"
		description="COM_JOBTEMPLATE_CONFIG_GREETING_SETTINGS_DESC"
	>

		<field
			name="show_category"
			type="radio"
			label="COM_JOBTEMPLATE_JOBTEMPLATE_FIELD_SHOW_CATEGORY_LABEL"
			description="COM_JOBTEMPLATE_JOBTEMPLATE_FIELD_SHOW_CATEGORY_DESC"
			default="0"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		
		<field
			name="upload_limit" type="text"
			label="COM_JOBTEMPLATE_CONFIG_UPLOAD_LABEL"
			description="COM_JOBTEMPLATE_CONFIG_UPLOAD_DESC"
			default="2"
			extension="com_jobtemplate"
		/>
		<field
			name="image_formats" type="text"
			label="COM_JOBTEMPLATE_CONFIG_IMAGE_LABEL"
			description="COM_JOBTEMPLATE_CONFIG_IMAGE_DESC"
			default="gif,bmp,jpg,jpeg"
			extension="com_jobtemplate"
		/>
		<field
			name="warning" type="note"
			label="COM_JOBTEMPLATE_CONFIG_SUPPORTED_LABEL"
			description="COM_JOBTEMPLATE_CONFIG_SUPPORTED_DESC"
			default="zip"
			extension="com_jobtemplate"
		/>
		
	<field
			name="source_formats" type="text"
			label="COM_JOBTEMPLATE_CONFIG_SOURCE_LABEL"
			description="COM_JOBTEMPLATE_CONFIG_SOURCE_DESC"
			default="txt,less,ini,xml,js,php,css"
			extension="com_jobtemplate"
		/>

		<field
			name="font_formats" type="text"
			label="COM_JOBTEMPLATE_CONFIG_FONT_LABEL"
			description="COM_JOBTEMPLATE_CONFIG_FONT_DESC"
			default="woff,ttf,otf"
			extension="com_jobtemplate"
		/>

		<field
			name="compressed_formats" type="hidden"
			default="zip"
			extension="com_jobtemplate"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_jobtemplate"
			section="component"
		/>
	</fieldset>
</config>
